* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: min(5px, 1vw);
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: min(5px, 1vw);
}

.row > div {
  aspect-ratio: 1/1;
  flex: 1 1;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms ease-out;
  font-size: min(5vw, 30px);
  max-width: 50px;
  max-height: 50px;
}

.row > div:hover {
  background-color: #284aa755 !important;
}
